streamlit==1.22.0
streamlit-option-menu==0.3.4
streamlit-tags==1.2.8
plotly==5.14.1
mlflow==2.3.1
numpy==1.24.1
b2sdk==1.21.0
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchviz==0.0.2
opencv-python==4.7.0
pandas==2.0.1